:root {
  /* Theme colors */
  --color-brand: #219bc3;
  --color-brand-light: #b2d3e1;
  --color-brand-secondary: #bfbfbf;
  --color-acсent: #7eb8da;
  --color-text: #262626;

  /* Base colors */
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;
}